body{
	background: red;
	/*background-image: url("pic1.jpg");*/
}
.button {
    background-color: black;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}
.style1{
	align-items: center;
	margin-left: 10%;
}
.style2{
	border-width: 2px;
	border-color: black;

}